html, body{
    padding-left: 50px;
    background-color: #5C6784;
}

.mesmo:hover{
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg)
}

.eu{
    border-radius: 80px;
    width:350px;
    max-width: 30%;
    
}

#descer{
    height: 200px;
}

.branco{
    background-color: white;
    width: 200px;
    height: 80px;
    left: 0px;
    padding-left: 0px !important;
    position: absolute;
}

.sessao:hover{
    width: 100%;
    transition: 2s;
}

.trybe{
    width:50%;
    height: 20%;
    padding-left: 10% !important;
}

.be:hover{
    opacity: 50%;
}

#mar{
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    animation-name: teste;
    animation-duration: 5s;
}

/*#mar:hover{
    color: white;
    transition: 2s;
    text-transform: uppercase;
}
*/
@keyframes teste {
    /*from {color: black}
    to {color: white;}*/
    20% {left: 20%; color: gray;}
    40% {left: 40%; color:white}
    60% {left: 60%; color:green}
    80% {left: 80%; color:blue}
    100% {left: 100%; color:orangered}
  }


.texto{
    padding-bottom: 100px;
    margin-left: 5px;
    font-size: 18px;
    line-break: auto;
    
}

.meio{
    display: inline-block;
}