/*body{
    background-color: rgba(0, 0, 255, 0);
    background-image: url(https://cdn.pixabay.com/photo/2015/12/30/11/53/birthday-1114056_960_720.jpg);
    background-repeat: no-repeat;
    background-position:initial;
    ;
}
*/

h1{
    text-align: center;
    font-size: 450%;

}
